<%= form_for([@article, @article.comments.build]) do |f| %>
  
  <p>
    <%= f.label "Autor" %>
  </p>
  <p>
    <%= f.text_field :commenter, value:@username %>
  </p>

  <p>
    <%= f.label "Comentario" %>
  </p>
  <p>
    <%= f.text_area :body, class:"write_comment_field" %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>