<%= form_for([@article, @article.comments.build]) do |f| %>
  <p>
    <%= f.label "Autor" %>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label "Comentario" %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>