<%= form_for([@article, @article.comments.build]) do |f| %>
  
  <div class="r1">
    <div class="c1">
      <%= f.label "Autor:" %>
    </div>
    <div class="c2">
      <%= f.text_field :commenter, value:@username %>
    </div>
  </div>

  <div class="r2">
    <div class="c1">
      <%= f.label "Comentario:" %>
    </div>
    <div class="c2">
      <%= f.text_area :body, class:"write_comment_field" %>
    </div>
  </div>

  <div class="r3">
    <div class="c1"></div>
    <div class="c2">
      <%= f.submit "Comentar" %>
    </div>      
  </div>

<% end %>