<div class="main_title_container">
  <h1 class="h1 main_title">código web</h1>
  <h2 class="h2 title"><%= link_to "by miguelitomola", about_me_path %></h2>
</div>
<div class="subtitle_container">
  <h2 class="h2 subtitle">¡Bienvenid@!</h2>
</div>

<section class="articles_container">
  <% @articles.each do |article| %>
    <article class="article">
      
      <h2 class="h2 art_title">
        <%= link_to "#{article.title}", article_path(article) %>
      </h2>
      <h3 class="h3 date">
        <% datetime = article.created_at %>
        <%= "#{datetime.day} de #{datetime.strftime('%B')} de #{datetime.year}" %>
      </h3>
      <p>
        <% if article.body.length < 350 %>
          <%= article.body %>
        <% else %>
          <%= article.body[0,350] %>
          <%= link_to '[...]', article_path(article) %>
        <% end %>
      </p>
    
    </article> 
  <% end %>
</section>

<%= render 'aside' %>
