<% @page_name = @article.title %>

<section class="articles_container">

  <% if current_user && current_user.admin_flag == true %> 
    <section class="tools">
      <span>
        <%= link_to '✎ Editar', edit_article_path(@article) %>
      </span>
      <span>
        <%= link_to '✘ Eliminar', article_path(@article),
            method: :delete,
            data: { confirm: "¿Seguro que quieres eliminar #{@article.title}?" } %>
      </span>
    </section>
  <% end %>

  <div class="number_comments_show">
    <% number_comments = @article.comments.count %>
    <% if number_comments == 1 %>
      <% number_comments = "#{number_comments} comentario" %>
    <% else %>
      <%   number_comments = "#{number_comments} comentarios" %>
    <% end %>
      <%= link_to "#{number_comments}", article_path(@article) + "#comments" %>
  </div>
  
  <section class="art_body articles_reader article">
  
    <%= simple_format h @article.body %>
  
  </section>
  
  <section class="add_comment">
    <div class="c1"></div>
    <div class="c2 add_comment_title_container">
      <h3 class="h3 add_comment_title">Añade un comentario:</h3>
    </div>

    <%= render 'comments/form' %>
  
  </section>
 
  <a name="comments"></a>

  <section class="comments">
    <div class="r0">
      <% number_comments = @article.comments.count %>
      <% if number_comments == 1 %>
        <h3 class="h3"><%= number_comments = "#{number_comments} comentario" %></h3>
      <% else %>
        <h3 class="h3"><%= number_comments = "#{number_comments} comentarios" %></h3>
      <% end %>
    </div>

    <% if @article.comments.count >= 1 %>

      <% @article.comments.order(created_at: :desc).each do |comment| %>  
        <%= render comment, controller:"comments" %>   
      <% end %>

    <% else %>

      <div class="r1">
        <%= "Todavía no hay ningún comentario. ¡Anímate y sé el primero!." %>
      </div>

    <% end %>
  </section>

</section>


