<% @page_name = @article.title %>
 
<section class="article">
  <%= @article.body %>
  <section class="tools">
    <span>
      <<%= link_to 'Editar', edit_article_path(@article) %> ||
    </span>
    <span>
      <%= link_to 'Eliminar', article_path(@article),
          method: :delete,
          data: { confirm: "¿Seguro que quieres eliminar #{@article.title}?" } %>>
    </span>
  </section>
</section>

<section class="comments">
  <div>
    <h2 class="h2">Comentarios</h2>
    <%= render @article.comments %>
  </div class="a">
  <div>
    <h2 class="h3">Añade un comentario:</h2>
    <%= render 'comments/form' %>
  </div>
</section>

