<h1>Inicia sesi칩n</h1>

<%= form_for @user_session do |f| %>

  <% if @user_session.errors.any? %>
    <div class="error_explanation">
      <h2>
        <%= pluralize(@user_session.errors.count, "error") %>
        . No se ha podido iniciar sesi칩n por lo siguiente:
      </h2>
      <ul>
        <% @user_session.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<ul class="formList">
  <li>
    <%= f.label "Nombre de usuario" %> <br>
    <%= f.text_field :username %>
  </li>
  <li>
    <%= f.label "Contrase침a" %> <br>
    <%= f.password_field :password %>
  </li>
  <li>
    <%= f.submit "Inicia sesi칩n" %> 
  </li>
</ul>
<% end %>
