<!DOCTYPE html>
<html>
<head>
  <title>MyBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Dekko' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Original+Surfer' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= notice %>
  <nav class="general_nav">
    <%= link_to 'Inicio', root_path %>
    <%= link_to 'Contacto', contact_path %>
    
    <% if current_user && current_user.admin_flag == true%>
      <%= link_to 'Usuarios', users_path %>
      <%= link_to 'Nuevo artículo', new_article_path %>
    <% end %>
    
  </nav>

  <nav class="user_nav">
    <% if current_user %>
      <%= link_to "Editar perfil", edit_user_path(:current) %>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Regístrate", new_user_path %>
      <%= link_to "Inicia sesión", login_path %>
    <% end %>
  </nav>

  <%= yield %>

</body>
</html>
