<!DOCTYPE html>
<html>
<head>
  <title>.:código web:.</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', defer:"defer", 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Dekko' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Original+Surfer' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="main_section">
    <section class="nav_section">
        <%= notice %>
        <nav class="user_nav">
          <% if current_user %>
            <%= link_to "Editar perfil", edit_user_path(:current) %>
            <span>|</span>
            <%= link_to "Logout", logout_path %>
          <% else %>
            <%= link_to "Regístrate", new_user_path %>
            <span>|</span>
            <%= link_to "Inicia sesión", login_path %>
          <% end %>
        </nav>
  
        <nav class="general_nav">
          <%= link_to 'Inicio', root_path %>
          <span>|</span>
          <%= link_to "About me", about_me_path %>
          <span>|</span>
  
          <ul class="contact_button">
            <li class="contact_button_li">Contacto ↓</li>
            <li class="sub_nav display_none">
              <ul>
                <li class="sub_nav_2 bookmark">
                  <%= link_to '@miguelitomola', "https://twitter.com/miguelitomola" %>
                </li>
                <li class="sub_nav_2">
                  <%= mail_to 'e-mail', "miganml@outlook.com" %>
                </li>
              </ul>  
            </li>
          </ul>
  
        <% if current_user && current_user.admin_flag == true%>
          <span>|</span>
          <%= link_to 'Usuarios', users_path %>
          <span>|</span>
          <%= link_to 'Nuevo artículo', new_article_path %>
        <% end %>   
      </nav>
    </section>

    <section class="titles_container">
      <div class="main_title_container">
        <h1 class="h1 main_title">Código weB</h1>
        <h2 class="h2 title"><%= link_to "by miguelitomola", about_me_path %></h2>
      </div>
      <div class="subtitle_container">
        <h2 class="h2 subtitle"><%= @page_name %></h2>
      </div>
    </section>

    <%= render 'articles/dates_aside', controller:"articles" %>
      
    <%= yield %>
    <footer>
      <p>
        Puedes ver el código de esta app
        <a href="https://github.com/miguelitomola/my_blog">aquí</a>
      </p>
    </footer>
  </section>
  <!-- Scripts to defer javascript load. For old browsers; -->
    <script type="text/javascript">
    function downloadJSAtOnload() {
      var element = document.createElement("script");
      element.src = "assets/nav_slide.js";
      document.body.appendChild(element);
    };
    if (window.addEventListener){
      window.addEventListener("load", downloadJSAtOnload, false);
    }else if(window.attachEvent){
      window.attachEvent("onload", downloadJSAtOnload);
    }else{
      window.onload = downloadJSAtOnload;
    };
    </script>
    <script type="text/javascript">
    function downloadJSAtOnload() {
      var element2 = document.createElement("script");
      element2.src = "assets/aside_dates.js";
      document.body.appendChild(element2);
    };
    if (window.addEventListener){
      window.addEventListener("load", downloadJSAtOnload, false);
    }else if(window.attachEvent){
      window.attachEvent("onload", downloadJSAtOnload);
    }else{
      window.onload = downloadJSAtOnload;
    };
    </script>
</body>
</html>
